.tooltipsy
    {
        padding: 10px;
        max-width: 200px;
        color: #303030;
        background-color: #f5f5b5;
        border: 1px solid #deca7e;
    }
	

.tooltipsy::before{
   content:"\f0d8";
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   text-decoration: inherit;
   position: absolute;
   text-align:center;
   top: -17px;
   left: 50%;
   margin-left:-9px;
   color:#000000;
   font-size:25px;
}	