body,html{
	height:100%;
	width:100%;
}

body{
	font-family: Arial,sans-serif !important;
	background:#ffffff;
}

p{
	color:#a5a5a5;
}

p,button, input, optgroup, select, textarea{
	font-family:'Open Sans Condensed', sans-serif !important;
}
span {
    font-family:'Open Sans Condensed', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	color: #191919;
	font-family: "Crimson Text",sans-serif !important;
}
.fa
{
	line-height:45px;
}

input[type="text"], input[type="email"], input[type="url"], input[type="search"]{
	/*height:45px;*/
	border-radius:1px;
	border:1px solid #e4e4e4;
	background:#f6f8f8;
}

textarea.s-form-control{
	border-radius:1px;
	border:1px solid #e4e4e4;
	background:#f6f8f8;
}

.s-form-control::-moz-placeholder{
	color:#000000;

}

.header-wrp{
	background:none;
}

.top-wrp{
	border-bottom:1px solid #e4e4e4;
	background:#000000;
}

.logo-a{
	width:70px;
}

.quick-contact li{
	float:left;
	margin-right:25px;
}

.quick-contact li a{
	display:block;
	cursor:pointer;
	padding-left:30px;
	position:relative;
	padding-right:15px;
	color:#ffffff;
}



.quick-contact li a::before{
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	top:-5px;
	left: 0;
	color:#f6f6f6;
	font-size:20px;
}

.quick-contact li a.mail::before{
	content:"\f003";
}

.quick-contact li a.phone::before{
	content:"\f095";
}

.quick-cart-ul{
	float:right;
}

.quick-cart-ul > li{
	float:left;
}

.quick-cart-ul li a{
	display:block;
	position:relative;
	padding-left:30px;
	padding-right:15px;
	color:#ffffff;
	font-weight:normal;
	font-size:13px;
}

.quick-cart-ul li a::before{
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	top: 0;
	left: 0;
	color:#f6f6f6;
	font-size:20px;
}

.quick-cart-ul li a.account::before{
	content:"\f007";
}

.quick-cart-ul li a.settings::before{
	content:"\f013";
}

.quick-cart-ul li a.privacy::before{
	content:"\f21b";
}

.quick-cart-ul li a.profile::before{
	content:"\f044";
}

.quick-cart-ul li a.signout::before{
	content:"\f08b";
}

.quick-cart-ul li a.wishlist::before{
	content:"\f08a";
}

.quick-cart-ul li a.checkout::before{
	content:"\f0a9";
}

.quick-cart-ul li a.cart::before{
	content:"\f07a";
}

.logo-a{
    display: block;
    margin: 10px 0;
    width: 170px;
}

.logo-wrp{
	background:#bf3930;
}
.quick-wrp
{
	background:#a8304c;
}

.btn-wrp{
	margin-top:15px;
}
.search-box
{
	margin-top:20px;
}
.custom-nav .custom-dropdown .sub_list
{
	display:none;
	padding: 10px;
	position: absolute;
	right: -18px;
	top: 78px;
	width: 155px;
	z-index: 2147483647;
}
.custom-nav .custom-dropdown .sub_list > li a
{
	color: #fff;
}
.custom-nav .custom-dropdown .sub_list > li
{
	display:block;
	float:none;
    background:rgb(46,46,46);
    padding:10px;
}
.custom-nav .custom-dropdown .sub_list > li:hover
{
    background:#0caad1;
}
.custom-nav .custom-dropdown:hover .sub_list
{
	display:block;

}
.custom-nav > li.custom-dropdown
{
    position: static !important;
}

.caption .btn-wrp{
	display:block;
}
p
{
	font-family: 'Open Sans Condensed', sans-serif !important;
}

.pg-btn{
	background: #1CADA6;
	color:#fff !important;
	padding:10px;
	text-transform:uppercase;
	display: inline-block;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border-radius:5px;
	position: relative;
	overflow: hidden;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;

}


.pg-btn:hover{
background: #bf3930;
}


.custom-navigation-wrp{
	background:#ffffff;
}

.menu-container, .menu > ul > li{
	background:none;
}

.menu > ul{
	margin:0 auto;
	float:none;
	width:auto;
}

.menu > ul > li > ul{
	background:#ffffff;
}

.menu > ul > li:hover{
	background:none;
}

.menu > ul > li{
	margin:0 7px;
}

.menu > ul > li > a{
	color: #77747e;
	line-height: 45px;
	padding: 0 45px;
	position: relative;
	text-align: center;
	z-index:10;
	text-transform:uppercase;
}

.menu > ul > li > a::after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	height:0;
	width:100%;
	z-index:-1;
	background:#1CADA6;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.menu > ul > li > a:hover::after{
	height:100%;
}

.menu > ul > li.active > a, .menu > ul > li.active > a::after{
	background:#0caad1;
	width:100%;
	color:#ffffff;
}


.menu > ul > li > a:hover{
	color:#ffffff;
}

.slider-wrp{
	position:relative;
}

.slider-wrp::before{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0, 0, 0, 0.7);
}

.slider-content{
	background:none;
	width:50%;
	position:relative;
	margin-top:70px;
}


.footer-wrp{
	position: relative;
}
.footer-wrp::before
{
    position: absolute;
    background-color:rgba(0,0,0,0.85);
    top:0;
    left:0;
    width:100%;
    height: 100%;
    content:"";
}

.footer-title{
	letter-spacing:1px;
	font-family: 'Julius Sans One', sans-serif;
}


.social-media-sec li{
	float:left;
	display:block;
	margin-right:10px;
}
.product-title
{
    margin:0!important;
}


.social-media-sec li a{
	display:block;
	font-size:26px;
	color:#d3d3d2;
	width:50px;
	height:50px;
	border-radius:100%;
	border:1px solid #d3d3d2;
	line-height:50px;
	text-align:center;
}

.social-media-sec li a:hover{
	color:#ffffff;
	border:1px solid #bf3930;
	background:#bf3930;
}

.footer-title{
	display:block;
	color:#ffffff;
	padding-bottom:10px;
	font-size:22px;
}

.footer-nav li{
	display:block;
	clear:both;
	margin:10px 0;
}

.footer-nav li a{
	display:block;
	padding-left:25px;
	position:relative;
	font-size:14px;
	color:#ffffff;
	line-height:25px;
}

.footer-nav li a::before{
	content:"\f105";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	text-align:center;
	top: 0;
	left:0;
	font-size:18px;
	color:#aaaaaa;
}

.footer-nav li a:hover{
	color:#bf3930;
}

.address-block span{
	clear:both;
	color:#aaaaaa;
	display:block;
	line-height:20px;
}

.contact-wrp{
	padding:10px 0;

}

.contact-wrp span{
	clear:both;
	position:relative;
	padding-left:30px;
	display:block;
	font-size:14px;
	padding-bottom:10px;
	color:#ffffff;
}

.contact-wrp span::before{
	color: #aaaaaa;
	font-family: FontAwesome;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	left: 0;
	position: absolute;
	text-decoration: inherit;
	top: 0;
}

.contact-wrp span.phone::before{
	content:"\f095";
}

.contact-wrp span.mail::before{
	content:"\f003";
}

.social-media li{
	display:block;
	float:left;
	margin-right:10px;
}

.social-media li a{
	display:block;
	width:50px;
	height:50px;
	line-height:45px;
	text-align:center;
	font-size:17px;
	border-radius:30%;
	border:2px solid #cccccc;
	color:#aaaaaa;
}

.social-media li a:hover{
	color:#ffffff;
	background:#bf3930;
	border:2px solid #bf3930;
}

.copyright-wrp{
	background:#000000;
}

.copyright-txt{
	color:#d3d3d2;
	display:block;
}

.caption_head h1{
	color:#f9f9f9;
	text-shadow:none;
	font-family: 'Ubuntu', sans-serif !important;

}

.caption_head h2{
	font-size:20px;
	color:#0caad1;
	text-shadow:none;
	font-family: 'Ubuntu', sans-serif !important;
}
.responsive-slider .slides ul li .slide-body::before
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	content:"";
	background-color:rgba(0,0,0,0.5)
}

.welcome-img{
	width:170px;
	border-radius:100%;
	border:1px solid #e4e4e4;
	overflow:hidden;
}

.welcome-head{
	font-size:45px;
	margin:0 auto;
}

.section-head{
	position:relative;
	padding-top:45px;
	display:table;
}



.section-head::before{
	content:"\f219";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	text-align:center;
	width:100%;
	top: 0;
	left: 0;
	color:#e1e1e1;
	font-size:25px;
}

.lt-gry-bckg{
	background:#f0f2f2;
}

.each-product {
	border: 1px solid #e7e7e7;
	clear: both;
}

.each-product:hover
{
	box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.5);
}

.product-img a{
	display:block;
	width:100%;
}

.s-in{
	overflow:hidden;
}

.product-content{
	background:#ffffff;
}



.price-meta p span{
	color:#333333;
}

.price-old{
	text-decoration:line-through;
}

.price-new{
	font-weight:500;
	color:#0caad1 !important;
	font-size:24px;
}

.product-title a{
	display:block;
	font-size:12px;
	word-spacing: 2px;
	font-weight:500;
	text-transform:uppercase;
	color:#555 !important;
    font-family:"Montserrat",sans-serif !important;

}
.box
{
padding:8px;
    min-height:55px;
}
.product-title a:hover
{
	color:#0caad1 !important;
}


.product-content .btn-wrp .pg-btn{
	padding:7px;
	font-size:13px;
	position:relative;
}

.product-content .btn-wrp .pg-btn i{
	padding-right:7px;
}

.fancy-large{
	position:relative;
	overflow:hidden;
}

.fancy-large::before{
	content:"";
	position:absolute;
	width:100%;
	height:0;
	top:0;
	left:0;
	background:rgba(0,0,0,0.5);
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.fancy-large::after{
	content:"\f00e";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	text-align:center;
	top: -9999px;
	left: 50%;
	margin-left:-8px;
	color:#ffffff;
	font-size:25px;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}


.fancy-large:hover::before{
	height:100%;
}

.fancy-large:hover::after{
	top:50%;
}

.product-meta-grp{
	background:#f9f9f9;
}

.product-meta-grp ul{
	border-top:1px solid #e4e4e4;
}

.product-meta-grp ul li{
	padding:0 !important;
}

.product-meta-grp ul li a{
	display:block;
	text-align:center;
	font-size:20px;
	line-height:40px;
	position:relative;
	border-right:1px solid #e4e4e4;
}
.product-meta-grp ul li a i
{
	color:#0caad1;
}
.product-meta-grp ul li a i:hover
{
	color:#bf3930;

}
.product-meta-grp ul li:last-child a{
	border-right:none;
}

.product-wrp .item{
	padding:15px;
}

.each-product{
	margin-bottom:30px;
}

.q-img{
	width:170px;
	border-radius:100%;
	overflow:hidden;
	border:2px solid #cccccc;
}

.testi-au{
	font-weight:500;
	color:#e2a20c;
}

.quote-detail p{
	position:relative;
	padding:20px;
}

.quote-detail p::before{
	content:"\f10d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	text-align:center;
	top: 0;
	left:0;
	margin-left:-8px;
	color:#e2a20c;
	font-size:25px;
}

.testi-icon{
	width:150px;
	opacity:0.35;
	margin-top:65px;
}

.product-sections-wrp{
	background:#e0e9e8;
}

.q-head{
	line-height:35px;
	font-size:24px;
}

.time-meta-wrp span{
	display:block;
	clear:both;
	font-size:25px;
	font-family: 'Julius Sans One', sans-serif !important;
}

.quick-num{
	padding-top:15px;
}

.day-sec{
	color:#bf3930;
}

.each-product-extra-wrp .sellers-list > li{
	clear:both;
	margin-bottom:30px;
	float:left;
	width:100%;
}

.each-product-extra-wrp .sellers-list > li .detail-list li a{
	font-size:20px;
}

.each-product-extra-wrp .sellers-list > li .detail-list li .pg-btn{
	font-size:12px;
	padding:7px 10px;
}

.list-pic .pic-box{
	display:block;
	border:1px solid #e4e4e4;
	border-radius:100%;
	overflow:hidden;
	width:100px;
}

.owl-theme .owl-controls .owl-buttons div{
	position:relative;
	background:none;
	opacity:0.65;
}

.owl-theme .owl-controls .owl-buttons div:hover{
	opacity:1;
}

.owl-theme .owl-controls .owl-buttons div::before{
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	text-align:center;
	top: 0;
	left:0;
	color:#666666;
	font-size:25px;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev::before{
	content:"\f053";
}

.owl-theme .owl-controls .owl-buttons div.owl-next::before{
	content:"\f054";
}

.each-product-extra-wrp .sellers-list{
	margin-top:25px;
}

a
{
	text-decoration:none !important;
}


.custom-nav
{
	display:block;
	overflow:hidden;
	float:right;
	line-height:35px;
}
.custom-nav > li
{
	display:block;
	float:left;
    margin-right:10px
}
.custom-nav li .active
{
	color:#111;
}
.custom-nav li .active:hover
{
    color:#fff !important;
}
.custom-nav > li > a {
    line-height: 100px;
    text-transform: uppercase;
    color: #fff;
    padding:5px 25px;
}

.custom-nav > li > a:hover
{
    color:#0caad1;
}
.banner-sec
{
	position:relative;
	background:url(../images/hardware1.jpg) center center fixed;
	height:200px;
}
.banner-sec::before
{
	background-color:rgba(0,0,0,0.8);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	content:"";
}

.right-btn
{
	padding:15px;
	background-color:#666666;
	float:right;
}
.right-btn a
{
	color:#fff;
	font-size:20px;

}
.right-btn a i
{
	color:#fff;
	font-size:16px;
	padding:0 10px;
}
.ui-red{
	color:#bf3930;
}
.ui-aqua{
	color:#0caad1;
}
.resp-tabs-list li
{
	padding:7px 5px !important;
	font-size:15px !important;
}
.s-scrollToTop
{
	border-radius:10px;
	background-color:#0caad1;
}
.s-scrollToTop:hover
{
	background-color:#bf3930;
}
.s-scrollToTop i
{
	color:#fff;
	font-size:20px;
	line-height:40px;
}
.rd-mobilepanel_toggle
{
	background-color:#0caad1;
}
.rd-mobilemenu_ul a.active
{
	background-color:#0caad1;
	color:#fff;
}
.rd-mobilemenu_ul a
{
	color:#fff;
	text-align: left;
}
.rd-mobilemenu_ul a:hover
{
	color:#fff;
}
.login-body
{
	position:relative;
	background:url("../images/login.jpg") center center no-repeat;
	background-size:cover;
	width:100%;
	float:left;
}
.login-body::before
{
	background-color:rgba(0,0,0,0.55);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	content:"";
}
.signup-body
{
    background:url("../images/signup.jpg") center center no-repeat;
}

.login-sec
{
	background-color:rgba(0,0,0,0.7);
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1)!important;
}
.sign-up-sec
{
	background-color:rgba(0,0,0,0.7);
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1)!important;
    width:400px;
    display:table;
    margin:0 auto;


}
.login-logo
{
	display: block;
	width:50px;
}
.login-btn
{
	width:100px !important;
	background-color:#bf3930!important;
	color:#222 ;
	padding:6px 5px !important;
	border-radius:10px;

}

.login-btn:hover
{
	background-color:#fff !important;
	color:#bf3930;
}
.login-sec label , .sign-up-sec label
{
	color:#fff;
}
.s-form-control::-moz-placeholder
{
	color:#999;
}

/* Wobble Top */
@-webkit-keyframes hvr-wobble-top {
	16.65% {
		-webkit-transform: skew(-12deg);
		transform: skew(-12deg);
	}

	33.3% {
		-webkit-transform: skew(10deg);
		transform: skew(10deg);
	}

	49.95% {
		-webkit-transform: skew(-6deg);
		transform: skew(-6deg);
	}

	66.6% {
		-webkit-transform: skew(4deg);
		transform: skew(4deg);
	}

	83.25% {
		-webkit-transform: skew(-2deg);
		transform: skew(-2deg);
	}

	100% {
		-webkit-transform: skew(0);
		transform: skew(0);
	}
}

@keyframes hvr-wobble-top {
	16.65% {
		-webkit-transform: skew(-12deg);
		transform: skew(-12deg);
	}

	33.3% {
		-webkit-transform: skew(10deg);
		transform: skew(10deg);
	}

	49.95% {
		-webkit-transform: skew(-6deg);
		transform: skew(-6deg);
	}

	66.6% {
		-webkit-transform: skew(4deg);
		transform: skew(4deg);
	}

	83.25% {
		-webkit-transform: skew(-2deg);
		transform: skew(-2deg);
	}

	100% {
		-webkit-transform: skew(0);
		transform: skew(0);
	}
}

.hvr-wobble-top {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}
.hvr-wobble-top:hover, .hvr-wobble-top:focus, .hvr-wobble-top:active {
	-webkit-animation-name: hvr-wobble-top;
	animation-name: hvr-wobble-top;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.login-img
{
	display:table;
	margin:0 auto;
	width:100px;
}
.login-wrp
{
	padding:110px 0;
	height:100%;
}
.welcome-sec
{
	/*padding:0 100px;*/
}
.welcome-sec .welcome-txt
{
	font-family: 'Kaushan Script', cursive !important;
	padding-bottom: 15px;

}
.welcome-sec .title-txt
{
	font-family: 'Chicle', cursive !important;
	color:#0caad1;
	font-size:80px;
}
.logo-title
{
	line-height:60px;
}
.logo-title a
{
	font-family: 'Chicle', cursive !important;
	color:#fff;
	font-size:25px;
}
.logo-title a:hover
{
	color:#0caad1;
}
.forget-link
{
	color:#999;
	font-weight:500;
}
.error-msg
{
	color:#bf3930;
}
.title-block .main-title
{
	width:50% !important;
	float:left;
}
.title-block .add-btn
{
	padding:1px 10px;
	border-radius:10px;
	border:1px solid #e4e4e4;
	color:#0caad1;
	display:block;
	float:right;
}
.title-block .add-btn i
{
	font-size:15px;
	color:#0caad1;
	padding-right:7px;
}
.title-block .add-btn:hover
{
	background-color:#0caad1;
	color:#fff;
}
.title-block .add-btn:hover i
{
	color:#fff;
}
.page-btn
{
	padding:5px 10px;
	border-radius:10px;
	border:1px solid #e4e4e4;
	color:#0caad1;
	display:block;
	width: 200px;
}
.page-btn i
{
	font-size:15px;
	color:#0caad1;
	padding-right:7px;
}
.page-btn:hover
{
	background-color:#0caad1;
	color:#fff;
}
.page-btn:hover i
{
	color:#fff;

}
.pagination
{
    border:none !important;
}
.pagination > li > a, .pagination > li > span
{
	padding:6px 20px !important;
}

.search-block .search-title
{
	font-size:20px !important;
}
.search-block .search-input
{
	border:1px solid #e4e4e4;
	font-size:13px !important;
	width:50%;
}
.custom-table
{
	width:100%;
	font-family:'Crimson Text', serif !important;
}
.custom-table th
{
	background:#0caad1;
	color:#fff;
	border:1px solid #e4e4e4 !important;
}
.custom-table tr:hover td
{
	background:#f9f9f9;
}
.custom-table td
{
	text-align: center;
	color:#333;
	font-size:17px;
	background-color:#fff;
}
.custom-table td a
{
	padding:0 5px;
}

.fl-lt
{
	float:left !important;
}
.edit-block .main-title
{
	color:#0caad1 !important;
}
.custom-form
{
	padding:35px 15px;
	width:100%;
	position:relative;
	float:left;
	background:#f9f9f9;
}
.custom-form label , .view-item label
{
	padding-right:10px;
	min-width:125px;
	color:#111;
	font-size:18px;
}
.custom-form .s-form-group ::-moz-placeholder
{
	font-size:14px;
	color:#666;
}
.custom-form .s-form-group input
{
	font-size:15px;
	color:#111;
}
.custom-form .s-form-group textarea
{
	width:60%;
	background:#f6f8f8;
	padding-top: 7px;
}
.custom-form .form-btn
{
	width:160px !important;
	line-height:30px;
	background:#ccc;
}

.custom-form .form-btn:hover
{
	background-color:#0caad1;
	color:#fff;
}
.custom-form .s-form-group input:focus , .custom-form .s-form-group textarea:focus
{
	border:1px solid #0caad1;
    box-shadow: 6px 8px 4px rgba(186, 186, 213, 0.57);
}
.custom-form .s-form-group input , .custom-form .s-form-group textarea
{
    border-radius:7px;
}
.custom-form .s-form-group input[type='checkbox']
{
	opacity:1;
}
.custom-form select
{
	background:#f6f8f8;
	border:none;
	height:40px;
}
.counter-sec input[type="button"]
{
	width:40px !important;
	height:30px;
	border-radius:10px;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f4511e 0px, #d84315 100%)!important;
	color:#fff;
}
.counter-sec label
{
	text-align:right;
}
.save-btn
{
	padding:7px 20px !important;
	background-color:#0caad1;
	color:#fff !important;
	line-height:32px;
	font-size:17px;
	border-radius: 10px;
	box-shadow: 6px 8px 16px rgba(186, 186, 213, 0.57);

}
.save-btn:hover
{

	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f4511e 0px, #d84315 100%) repeat scroll 0 0;
}
.title-sec
{
	position:relative;
	background:url("../images/grassland-background-4.jpg") center center no-repeat;
}
.title-sec::before
{
	background-color:rgba(0,0,0,0.65);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	content:"";
}
.button-sec .page-btn
{
	display:block;
	float:left;
	margin-right:10px;
    border: 1px solid #444;
    padding: 0 10px;
}
.resp-tab-content
{
	border:none;
}
.custom-tab .resp-tab-active
{
	opacity:1 !important;
}
.custom-tab
{
	padding:15px 0;
}
.custom-tab .each_tab_content
{
	background-color:#f9f9f9;
}

.custom-tab .resp-tabs-list li
{
	background-color:#fff;
	color:#333;
}
.custom-tab .resp-tab-active {
	background:#bf3930!important;
	color: #ffffff !important;
	border-color:#bf3930!important;
	font-size: 16px !important;
	position: relative;
}

.cart-prod-img
{
	display:block;
	width:100px;
	height:100px;
	overflow:hidden;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border:1px solid #f9f9f9;
}
.cart-table td
{
	line-height:100px;
	text-align:center;
}
.cart-table .close-btn i
{

	margin:0 auto;
	color:#bf3930;
}
.cart-prod-title
{
	font-size:22px;
	color:#111;
	font-weight:500;
}
.cart-price
{
	color:#FF43B1;
}
.cart-table td span
{
	font-size:18px;
	text-align:center;
}
.update-cart
{
	padding:7px 10px !important;
	background-color:#0caad1;
	color:#fff;
	line-height:32px;
	font-size:17px;
	border-radius: 10px;
	box-shadow: 6px 8px 16px rgba(186, 186, 213, 0.57);
	transition: all 0.5s ease 0s
}
.update-cart i
{box-shadow: 6px 8px 16px rgba(186, 186, 213, 0.57);
	padding-right:5px;
	color:#fff;
}
.update-cart:hover
{
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f4511e 0px, #d84315 100%) repeat scroll 0 0;
	color:#fff;
}
.update-cart:hover i
{
	color:#fff;
}
.total-cart-box
{
	position:relative;
}

.total-cart-box h3
{
	color:#0caad1;
	font-size:21px;
	font-weight:600;
	letter-spacing:4px;
	padding-bottom:20px;
}

.total-cart-box h6
{
	line-height:30px;
	color:#111;
	font-size:20px;
	letter-spacing:1px;
}
.image-gallery > li
{
	display: block;
	float:left;
	margin:0 15px 15px 0;
	border:1px solid #e4e4e4;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image-gallery > li > a
{
	display:block;
	width:150px;
	height:150px;
	background:#fff;
}
.image-gallery .default
{
	position:relative;
	border:2px solid #444;
}
.image-gallery .default::before
{
	position:absolute;
	content:"\f058";
	right: -7px;
	top: -20px;
	font-family:fontawesome;
	font-size:24px;
	color:#AED136;
}
.img-btns
{
	overflow:hidden;
	display:table;
	margin:0 auto;
}
.img-btns li
{
	display:block;
	float:left;
	margin-right:15px;
}
.img-btns li a i
{
	color:#111;
}
.suggest-box:focus
{
	border: 1px solid #666;
	width:80%;
}
.product-title
{
    font-size:33px;
    text-transform:capitalize;
}
.product-img > a > img
{
    height:165px;
}
.item .thumbnail img
{
	height:80px;
	overflow:hidden;
}
.image-gallery li a img
{
	height:150px;
	overflow:hidden;
}
#auto_suggest
{
	width:100%;
	height:45px;
	border:1px solid #0caad1;
}
#search_but
{
	height:45px;
	position: absolute;
	right:0;
	top: 0;
	width: 64px;
	background:#0caad1;
	cursor:pointer;
}
#search_but:hover
{
	background:#a8304c;
}
#search_but::before
{
	position:absolute;
	content:"\f002";
	top:8px;
	right:24px;
	font-family:FontAwesome;
	font-size:18px;
	color:#fff;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	cursor:pointer;
}
.product-list-block .product-main-box
{
	border: none !important;
}
.sort-right-sec
{
	position:fixed;
	right:0;
	top:70%;
	height:40px;
	background-color:#2CF59E;
	z-index: 99999999;
	padding: 10px;
	border-radius:3px 0 0 3px;
}
.sort-right-sec span
{
	color: #111;
}
.sort-right-sec #sort_by
{
	display:none;
}
.sort-right-sec:hover
{
	height: 70px;
}
.sort-right-sec:hover #sort_by
{
	display:block;
}
.autocomplete-suggestions
{
	background: #ffffff;
	overflow: auto;
	border-top: 1px solid #e0e0e0;
	box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.5);
}
.autocomplete-suggestion
{
	cursor:pointer;
	color:#111;
	height:40px;
	padding:10px 5px !important;
}
.list-group
{
	margin-bottom:0 !important;
}
.list-group >li#reset_tree
{
	padding:5px !important;
	border-radius:4px;
	background:#bf3930!important;
}
.spcl-product
{
	overflow:hidden;
}
.spcl-product::after
{
	height: 30px;
	position: absolute;
	right: -67px;
	top: 16px;
	transform: rotate(40deg);
	width: 166px;
	content:"New";
	background:#bf3930;
	text-align:center;
	color: #fff;
	padding-top:4px;
	padding-right:16px;
}
.action-btn
{
	background:#fff;
	padding:10px !important;
	border:1px solid #999;
}
.action-btn i
{
	font-size:16px;
	line-height:49px;

}
.resp-tabs-container.hor_1
{
    border:none;!important;
    border-color:#fff !important;
}
.prod-btn
{
	font-size:12px !important;
	background:#f5f5f5;
	color:#0caad1 !important;
	line-height:33px !important;
	font-weight:600;
}
.prod-btn i
{
	line-height: 25px !important;
	padding-right: 10px;
	color:#bf3930!important;
}
.prod-btn:hover
{
    background:#0caad1;
    color:#f9f9f9 !important;
}
.sub_list li a
{
    position:relative;
    padding-left:20px;

}
.sub_list li a::before
{
    position: absolute;
    font-size: 15px;
    left: -3px;
    top: -8px;
    color:#fff;
    font-family:FontAwesome;
}
.sub_list li .ul-category::before
{
    content:"\f044";
}
.sub_list li .ul-product::before
{
    content:"\f055";
}
.sub_list li .ul-signout::before
{
    content:"\f08b";
}
.full-cvr-baner img
{
	height:350px;
}
.adress-block {
	background-color: white;
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
}
.address-item {
	padding: 20px 58px 24px;
}
.address-item h4 {
	font-family: "Noto Sans",sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.08em;
	line-height: 36px;
	text-align: left;
}
.address-item span {
	margin: 13px 0;
}
.divide-address {
	margin: 7px 0 !important;
}
.divide-address h4 {
	color: #014b7b !important;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	opacity: 0.7;
}
.address-item p {
	font-size: 16px;
	line-height: 25px;
	padding: 0;
}
.address-item p a {
	color: #8bc63e;
	font-size: 16px;
	line-height: 25px;
	padding: 0;
}
.form-box {
	padding: 40px 60px 40px;
}
.contact-form {
	position: relative;
}
.contact-form h4 {
	margin-bottom: 20px;
}
#returnmessage {
	font-size: 12px;
	line-height: 14px;
	margin-top: 16px;
	position: absolute;
	right: 0;
	top: 21px;
}
.form-box input {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	border-style: none none solid;
	border-width: medium medium 1px;
	height: 54px;
	padding: 0 !important;
	width: 100%;
}

.form-box textarea {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	border-style: none none solid;
	border-width: medium medium 2px;
	line-height: 52px !important;
	padding: 0 !important;
}
.login-body .s-form-group
{
	min-height:105px;
}
.each-variant section
{
    padding: 10px;
    background:#f9f9f9;
    border:1px solid #e4e4e4;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
    margin:10px 0;
    width:60%;
    display:block;
    float: left;
}
#map
{
	height:531px;
	width:100%;
}
.resp-tab-content.hor_1
{
	overflow: hidden;
}
.resp-vtabs li.resp-tab-active
{
	background-color:#0caad1 !important;
	border-color:#fff!important;
	border: none !important;
	color:#fff !important;
}
.form-box .contact-form input ,  .form-box .contact-form textarea
{
	background:#fff;
}
.form-box .contact-form input:focus , .form-box .contact-form textarea:focus
{
	border-bottom:1px solid #0caad1;
}
.each-variant input[type="button"]
{
    margin:0 10px;
}
.variant-box
{
	padding:10px 0;
	margin:10px 0;
	background:#f9f9f9;
}
.variant-box label
{
	padding:0 10px;
	text-transform:capitalize;
	font-size:16px;
	min-width:130px;
}
.variant-box select
{
	width:30%;
	font-size:13px;
	height:32px;
}
.cart-icon{
    position:relative;
}
.cart-icon a i
{
	font-size:24px;
	line-height:36px;
	position:relative;
}
.cart-icon a:hover
{
	background:#bf3930!important;
}
.cart-icon .cart-counter
{
	background-color: rgb(12, 170, 209);
	border-radius: 100%;
	color: #fff;
	content: "";
	font-size: 10px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 12px;
	text-align: center;
	top: 13px;
	width: 20px;
}
.abt-img
{
	display:block;
	float:left;
	margin:0 15px 15px 0;
	width:300px;
}
.glyphicon
{
    font-family:FontAwesome !important;
}
.about-title
{
    font-size:25px;
    line-height: 43px;
    padding: 10px 0;
    position: relative;

}

.title-strip
{
	position:relative;
	padding:20px 0;
	background:url(../images/slide-1.jpg) center center fixed;
}
.title-strip::before{
	background-color: rgba(0,0,0,0.7);
	content: "";
	height: 100%;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
}
.each-service
{
	padding: 10px;
	border:1px solid #e4e4e4;
	box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.5);
	min-height:250px ;
	margin-bottom:20px;

}
.service-img
{
	display: block;
	float:left;
	margin:0 20px 20px 0;
	width:200px;
}
.each-service h5
{
	font-size:20px;
	color: #000;
	font-weight:600;
	letter-spacing:2px;
}











@media (max-width: 1083px) {

	.menu > ul > li a{
		padding:15px 35px;
	}

}

@media (max-width: 991px) {

	header{
		display:block;
	}
    .welcome-sec , .login-sec
    {
        margin:15px 0;
    }

    .welcome-sec .title-txt
    {
        font-size:55px;
    }
	.signup-resp
	{
		display:none;
	}

	.custom-nav
	{
		display:none !important;
	}
	.page-btn
	{
		width:155px;
		padding:4px 1px;
		font-size:11px;
	}
	.address-item h4
	{
		text-align:center;
	}

	a, span{
		text-align:center;
	}

	.news-meta ul, .btn-wrp{
		display:table;
		margin:10px auto;
	}

	.news-img, .service-icon{
		margin:0 auto;
	}
     .abt-img
	 {
		 display:none;
	 }
	.about-title::before
	{
		height: 0;
	}
	.about-box h4
	{
		text-align:center;
		width:100%;
	}
	.login-wrp
	{
		padding:0;
	}

	.logo-a, .quick-contact ul, .social-media ul, .footer-nav{
		display:table;
		margin:10px auto;
		float:none;
	}

	.contact-wrp span, .quick-cart-nav ul, .list-pic .pic-box{
		display:table;
		margin:10px auto;
		float:none;
	}

	.detail-list a{
		text-align:center;
		display:block;
	}

	.menu-mobile{
		color:#1CADA6;
	}

	.footer-title{
		margin:15px 0 0;
	}

	.section-head{
		line-height:40px;
	}

	.q-img{
		margin:15px auto;
	}

	.product-meta-grp li{
		border-bottom:1px solid #e4e4e4;
	}

	.product-meta-grp li:last-child{
		border-bottom:none;
	}

	.detail-list .pg-btn{
		display:table;
		margin:10px auto;
	}

	.fancybox-wrap
	{
		width:200px!important;
		height:250px !important;
	}
	.fancybox-inner
	{
		width:200px!important;
		height:250px !important;
	}

}

@media (max-width: 767px) {

	.caption.header{
		display:none;
	}
	.right-sec
	{
		float:none !important;
		display:table;
		margin:0 auto;
	}

	.cbp-qtrotator img{
		width: 100% !important;
	}
	.custom-nav
	{
		float:none;
		display:table;
		margin:0 auto;
	}
	.button-sec .page-btn
	{
		display:table;
		margin:10px auto;
		float:none;
	}


}

@media (max-width: 691px) {

	.logo-a
	{
		width:200px;
	}

}

@media (max-width: 591px) {


	.logo-a
	{
		width:100px;
	}
	.quick-contact
	{
		padding:0;
	}
    .logo-title
    {
        line-height:27px;
    }
    .pagination > li > a
    {
        line-height:35px !important;
    }

}

@media (max-width: 491px) {


	.quick-contact li
	{
		float:none;
		margin-bottom: 10px;
	}


}

@media (max-width: 391px) {
	.logo-a
	{
		width:80px;
	}
	.custom-form .s-form-group textarea
	{
		width: 100%;
	}
}


.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
	display:    none;
	position:   fixed;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .8 )
	url(../images/ajax-loader.gif)
	50% 50%
	no-repeat;
}


/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
	display: block;
}
.list-group-item{
	background-color: #fff;
	border: 1px solid #ddd !important;
	display: block !important;
	margin-bottom: -1px !important;
	padding: 10px 15px !important;
	position: relative !important;
}
/*

div.img {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}

div.img:hover {
	border: 1px solid #777;
}

div.img img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}*/
