.side-bar-sec .each-block
{
    margin-bottom:30px;
    box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.5);
}
.side-bar-title
{
    text-transform:capitalize;
    font-size:18px;
    letter-spacing:0.5px;
    padding:10px;
    color: #fff !important;
    background: #0caad1 !important;
    margin-top:0 !important;
    border-radius:5px 5px 0 0;
}
.side-bar-sec .each-box
{
    margin-top: 10px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);


}
.side-bar-sec .accordion-section
{
    margin-bottom:5px;
}
.side-bar-sec .accordion-section-title
{
    font-size:15px;
    text-transform:capitalize;
    background:none;
    border:none;
    border-bottom:1px dashed #e4e4e4;
    padding:0;
    position:relative;
    text-align:left;
}

.side-bar-sec .accordion-section-title::after
{
    position:absolute;
    content:"\f054";
    font-family:fontawesome;
    font-size:12px;
    color:#ccc;
    top:0;
    right:0;
}
.side-bar-sec .active::after
{
    content:"\f053";
}

.side-bar-sec .accordion-section-title:hover
{
    color: #0caad1;
}

.side-bar-sec .accordion-section-content
{
    border:none;
    padding:0;
}
.side-bar-sec .side-detail-list
{
    overflow:hidden;
    padding-left:25px;
}
.side-bar-sec .side-detail-list > li
{
    padding:4px 0;
    overflow:hidden;
}
.side-bar-sec .side-detail-list > li > a
{
    font-size:13px;
    position:relative;
    padding-left:15px;
}
.side-bar-sec .side-detail-list > li > a::after
{
    position:absolute;
    content:"\f101";
    top:2px;
    left:0;
    color:#666;
    font-size:11px;
    font-family:fontawesome;
}
.side-bar-sec .side-detail-list > li > a:hover
{
    color: #0caad1;
}
.pic-box
{
    display:block;
    width:60px;
    border:1px solid #e4e4e4;
}
.sellers-list > li
{
    padding:7px 0;
    border-bottom:1px dashed #e4e4e4;
    overflow:hidden;
}
.sellers-list > li:last-child
{
    border:none;
}
.detail-list > li
{
    padding-bottom:4px;
}
.detail-list > li > p span
{
    color:#333;
}
.detail-list > li > p
{
    padding:0;
}
.detail-list > li > a
{
    font-size:14px;
    color:#999;
    text-transform:capitalize;
    font-weight:normal;
}
.detail-list > li > a:hover
{
    color: #0caad1;
}
.side-bar-sec .add-cart
{
    text-decoration:underline;
    color: #0caad1;
}
.product-list-block .product-main-box
{
    border:1px solid #e4e4e4;
    padding:15px;
}
.product-list-block .product-main-box a
{
    text-transform:capitalize;
}
.product-list-block .product-main-box a:hover
{
    color: #0caad1;
}
.product-list-block .product-main-box .right-sec
{
    float:right;
    overflow:hidden;
    width:auto;
}
.product-list-block .product-main-box .right-sec .sort
{
    cursor:pointer;
}
.pagination-sec .pagin-active a
{
    background-color:#0caad1;
}
.pagination-sec .pagination li a:hover , .pagination-sec .pagin-active a:hover
{
    background-color:#0caad1 !important;
}
.pagination-sec .show
{
    color:#333;
    overflow:hidden;
    float:right;
    line-height: 35px;
}
.cover-pic {
    border: 1px solid #eeeeee;
    padding: 5px;
}
.full-cvr-baner {
    display: block;
    position: relative;
    width: 100%;
}
#sync2 .item {
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    padding: 10px 0;
    text-align: center;
}
#sync1 .item {
    border-radius: 3px;
    color: #fff;
    margin: 5px;
    text-align: center;
}
.thumbnail {
    display: block;
    overflow: hidden;
    width: 100px;
}
#sync1 .owl-controls .owl-buttons div
{
    background: none;

}
#sync1 .owl-controls .owl-prev , #sync1 .owl-controls .owl-next
{
    position:relative;
}
#sync1 .owl-controls .owl-prev::before
{
    position:absolute;
    font-family:fontawesome;
    content:"\f053";
    font-size:11px;
    color:#666;
    top:0;
    left:0;
}
#sync1 .owl-controls .owl-next::before
{
    position:absolute;
    font-family:fontawesome;
    content:"\f054";
    font-size:11px;
    color:#666;
    top:0;
    left:0;
}
.tile-review-list > li .price-new
{
    font-size:30px;
}
a:hover
{
   color:#0caad1;
}
.tile-stock-list > li
{
    display:block;
    float:left;
    padding-right: 15px;
}
.ui-green {
    color: #53bf74;
}
.ui-red {
    color: #ff5750 !important;
}
span.spinner > .sub, span.spinner > .add {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: 1px solid #eeeeee !important;
    color: #222;
    font-weight: 600;
}
.spin-txtbox {
    border: 1px solid #eeeeee !important;
    color: #222 !important;
    margin: 0 10px;
    width: 50px !important;
}
.add-cart-list li, .wish-list li {
    display: block;
    float: left;
    padding-right: 20px;
}
.fl-rt {
    float: right;
}
.wish-list li a {
    border: 1px solid #e4e4e4;
    padding: 9px;
}
.add-cart-list .pg-btn
{
    padding:9px;
}
.prod-share h4
{
    font-size:16px;
}
.prod-share .jssocials-shares {
    margin: 0;
}
.prod-share .jssocials-share-link {
    color: #fff;
    padding: 5px 14px;
}
.prod-share .jssocials-share-link i {
    font-size: 12px;
}
.prod-share .jssocials-share-label {
    color: #fff;
    font-size: 11px;
}
.tile-review-list > li i
{
    padding-right:10px;
}
.tab-block .resp-tabs-list {
    margin: 0 auto !important;
    padding-bottom: 20px !important;
}
.tab-block .resp-tab-item {
    background:#fff ;
    color: #111 ;
    font-size: 22px;
    position: relative;
    font-weight:500;
}
.tab-block .resp-tab-active
{
    background:#D71744 !important;
    color:#fff;
    font-size: 22px;
    position: relative;
    border:none !important;
}
.tab-block .resp-tab-active:hover
{
    color:#fff !important;
}




.tab-block .resp-tab-item::after {
    background-color: #222;
    bottom: 2px;
    content: "";
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
}
.tab-block .each_tab_content {
    border: medium none !important;
}

.tab-block .review-list li {
    display: block;
    float: left;
    padding-right: 15px;
}
.tab-block .each-review
{
    margin:10px 0;
}
.tab-block .review-form input , .review-form textarea
{
    width:100%;
    border:1px solid #e4e4e4;
    font-size: 11px;
    background:none;
}
.tab-block .review-form input:focus , .review-form textarea:focus
{
    border-color:#1CADA6;
}
.tab-block .review-form .pg-btn
{
    margin-top: 10px;
}
.specific-list-param li , .specific-list-soln li
{
background-color:#f9f9f9;
color:#0000CC;
padding:10px 5px;
margin-bottom:10px;
overflow:hidden;
}

.specific-list-param li span
{

text-align:left;
display:block;
color:#111;
}

.specific-list-soln li span
{

text-align: left;
display:block;
color:#555;
}





/*responsive*/

@media (max-width: 991px) {


    .pagination-sec .pagination , .pagination-sec .show
    {
        display:table;
        margin:10px auto;
        float:none;
    }
    .tile-review-list , .tile-stock-list , .jssocials-shares , .tile-review-list > li a
    {
        display:table;
        margin:0 auto !important;

    }
    .tile-review-list > li
    {
        margin-bottom: 15px;
    }
   .add-cart-list .btn-wrp
   {
       margin:0 !important;
   }
   .review-list
   {
       display:table;
       margin:0 auto !important;
       width:auto;
       float:none;
   }


}

@media (max-width: 767px) {

    .side-bar-sec .accordion-section-title
    {
        text-align:center;
    }
    .side-detail-list
    {
        padding:0 !important;
        display:table;
        margin:0 auto;
    }
    .detail-list , .pic-box
    {
        display:table;
        margin:0 auto;
    }
    .detail-list > li
    {
        text-align:center;
    }
    .tab-block .resp-accordion
    {
        overflow:hidden;
    }
    .tab-block .resp-tab-content
    {
        border:1px solid #e4e4e4 !important;
        overflow:hidden;
    }
    .add-cart-list , .wish-list
    {
        margin:0 auto;
        display:table;
        float:none;
        overflow:hidden;
        padding:10px 0;
    }


    h2.resp-tab-active span.resp-arrow{
        border-color:-moz-use-text-color transparent #ffffff !important;
    }


}

@media (max-width: 691px) {


    .each-review h4
    {
      font-size:18px !important;
    }

}


@media (max-width: 491px) {

    .pagination li a
    {
        padding:0 16px !important;
    }
    .quick-contact li
    {
        float:none;
        margin-bottom: 10px;
    }
    .tile-stock-list > li
    {
        float:none !important;
    }



}
@media (max-width: 391px) {

    .tile-stock-list > li
    {
        text-align:center;
        float:none;
    }


}