.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	border-radius:4px;
}

/*----- Section Titles -----*/
.accordion-section-title {
	width:100%;
	padding:7px;
	display:inline-block;
	border:1px solid #dddddd;
	background:none;
	transition:all linear 0.15s;
	font-size:17px;
	color:#313447;
	line-height:35px;
	background:#dddddd;
}

.accordion-section{
	margin-bottom:15px;
}

.accordion-section-title.active, .accordion-section-title:hover {
	background:#dddddd;
	text-decoration:none;
	color:#313447;
}

.accordion-section-title.active .accord-cntrl em, .accordion-section-title:hover .accord-cntrl em{
	color:#313447;
}

.accordion-section-content {
	padding:15px;
	display:none;
	border:1px solid #dddddd;
	background:#ffffff;
}

.accord-cntrl{
	float:right;
	margin-top: 7px;
}

.accord-cntrl em{
	font-size:20px;
}

.accord-collapse{
	display:none;
}

.accordion-section-title.active .accord-collapse{
	display:block;
}

.accordion-section-title.active .accord-expand{
	display:none;
}

