input[type=number] {
  float: left;
  width: 155px;
  height: 35px;
  padding: 0;
  font-family: Lato;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  color: #666666;
  border:none;
  background: none;
  outline: none;
  pointer-events: none;
  font-family: 'Oxygen', sans-serif;
}

span.spinner {
  height: 36px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  width:100%;
  display:block;
  background:#ffffff;
  border-radius:4px;
 
}

span.spinner > .sub,
span.spinner > .add {
  float: left;
  display: block;
  width: 36px;
  height: 36px;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 33px;
  background: #7ebdff;
  color:#ffffff;
  border:none;
  border-right: 0;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
  transition: 0.1s linear;
  -o-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  
}

span.spinner > .add {
  top: 0;
  border:none;
  border-left: 0;
  border-radius: 0 2px 2px 0;
  float:right;
}


 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
}
